body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding : 5%;
}
.card-text{
    text-align: left;
}
.about-header{
    text-align: left;
    text-size-adjust: 18px;
}

/*.about-body-container{

}
*/
.about-body-left{
    text-align: left;
    padding: 20px;
}
.about-body-right{
    text-align: right;
    padding: 20px;
}
.about-para{
    font-size: 13px;
}

footer{
    position: fixed;
    bottom: 0;
    right: 1%;
}
.button-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}
.button{
    background-color: lightgreen; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}