body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding : 5%;
}
.card-text{
    text-align: left;
}
.about-header{
    text-align: center;
    text-size-adjust: 18px;
}
.about-text-left{
    text-align: left;
    padding: 20px;
}
.about-para{
    font-size: 13px;
}